
.icon-left-open-big:before { content: '\e800'; } /* '' */
.icon-right-open-big:before { content: '\e801'; } /* '' */
.icon-arrows-ccw:before { content: '\e802'; } /* '' */
.icon-spinner:before { content: '\f110'; } /* '' */